.export_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.export_container > * {
    margin: 0 5px;
}

mat-label{
    color: whitesmoke;
}

.snap_form{
    margin-bottom: 0;
}

mat-option.mat-selected {
    color: rgba(68, 68, 167, 1) !important;
  }
  
:host /deep/ .mat-select-value-text {
    color: whitesmoke !important;
}

::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}

::ng-deep .mat-form-field-flex { height: 50px !important;}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}